body{
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.hero-section {
    height: 100vh; 
    width: 100%;
    background-image: url('assets/kerela.webp'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
     position: relative;
    text-align: center;
}

.search-container {
    background-color: white;
    padding : 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 600px;
    color: black;
    margin-left: 10px;
}
.search-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
}
.search-container button {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
}
.hero-content {
    max-width: 600px;
     position: relative;
    z-index: 1; 
}
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7); 
}

.deals {
    padding: 60px 40px;
    text-align: center;
}

.deal-grid {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}


.deal-card {
    background: #ffffff;
    border-radius: 12px;
    height: 270px;
    width: 230px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
   
}

.deal-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    display: block;
}

.deal-content {
    padding: 15px;
    text-align: left;
}

.deal-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}


.info{
    padding: 50px;
    text-align: center;
    background-color: #f5f5f5;
}
.containers{
    padding: 70px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.containers img{
    width: 170px;
    height: 150px;
}
.info .title{
    color: rgb(2, 2, 70) !important;
    font-size: 25px;
    font-weight: bold;
}
.deals-info {
    height: 60vh;
    width: 100%;
    background-image: url('assets/man.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;                
    flex-direction: column;       
    justify-content: center;      
    align-items: center;           

    color: white;
    position: relative;
    z-index: 0;                   
    text-align: center;
}

.deals-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 30, 49, 0.4);
    z-index: -1;                  
}

.deals-info-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    position: relative;
    z-index: 1;                   
}
.deal {
    width: 22%;
    text-align: left;
}

.phone {
    height: 95vh;
    width: 100%;
    background-image: url('assets/sea.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;                
       
    justify-content: space-around;      
    align-items: center;           

    color: white;
    position: relative;
    z-index: 0;                   
    text-align: center;
}

.phone::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(14, 63, 77, 0.4);
    z-index: -1;                  
}

.phone img{
    width: 20vw;
    height: 80vh;
}
.info-phone p{
    max-width: 500px;
    text-align: left;
    font-size: 40px;
    position: relative;
    z-index: 1;
}

.dest{
    padding :40px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f5f5f5;
    overflow: hidden;
}
.dest img{
    width: 100%;
    object-fit: cover;
}

.contact {
    background-color: #f2f5f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    border-bottom: 3px solid #f5f5f5;
}

.contact-card {
    text-align: center;
    max-width: 250px;
    padding: 50px;
    border-left: #d3cece 2px solid;
}


.contact-icon {
    font-size: 35px;
    color: orange;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.contact-card p {
    margin: 5px 0;
    color: #555;
}

.footer{
    text-align: center;
    padding-top: 40px;
     color: grey;

}
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo .card{
    width: 300px;
}